<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
       
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <p> YOU ARE CONNECTED AS : <strong> {{ app.user.username }} </strong> </p>
        {% endif %}

        logout : </br>
        <a href={{ path('app_logout') }}>LOGOUT</a>

        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
